.choose-plan {
}

.choose-plan__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
}

.choose-plan__title {
  color: #2d3242;
  font-size: 40px;
  line-height: 38px;
  letter-spacing: 0.38px;
  font-family: 'Rubik Bold';
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 97px;
  text-align: center;
}

.choose-plan__content {
  display: flex;
  column-gap: 79px;
  justify-content: center;
}

.choose-plan__image-container {
  position: relative;
  max-width: 434px;
  height: 715px;
}

.choose-plan__image {
  width: 100%;
}

.choose-plan__image-background {
  position: absolute;
  background-image: linear-gradient(to top, #f5f7f7, #f5f7f7, transparent);
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 2;
}

.choose-plan__plans {
  flex-basis: 589px;
}

.choose-plan__buy {
}

.choose-plan__buy-text {
  font-family: 'PT Root UI';
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  color: #2d3242;
  margin-bottom: 26.21px;
}

.choose-plan__agreement {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 50px;
}

.choose-plan__agreement-checkbox {
  display: none;
}

.choose-plan__agreement-text {
  position: relative;
  font-family: 'PT Root UI';
  font-weight: 400;
  font-size: 16px;
  line-height: 17.6px;
  color: #818798;
  max-width: 364px;
  padding-left: 36px;
  cursor: pointer;
  user-select: none;
}

.choose-plan__agreement-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url('/assets/checkBoxOff.svg') no-repeat center center;
  background-size: contain;
}

.choose-plan__agreement-checkbox:checked + .choose-plan__agreement-text::before {
  background: url('/assets/checkBoxOn.svg') no-repeat center center;
  background-size: contain;
}

.choose-plan__agreement-link {
  color: #2d97f9;
  text-decoration: none;
}

.choose-plan__buy-button {
  font-family: 'Rubik Bold';
  border-radius: 60px;
  background-color: #fd4d35;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  border: none;
  padding: 28px 100px;
  cursor: pointer;
  margin-bottom: 30px;
  animation: pulse 1s infinite ease-in-out;
}

.choose-plan__subtext {
  font-family: 'PT Root UI';
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  color: #818798;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
